button {
    border: none;
    background-color: rgb(0, 0, 0);
    font-size: 24px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    cursor: pointer;
    border-radius: 0px;
    outline: none;
  }
  
  button:hover {
    background-color: rgb(74, 74, 216);
  }
  
  .equals {
    grid-column: 3 / 5;
    background-color: rgb(0, 0, 0);
  }
  
  .equals:hover {
    background-color: rgb(235, 72, 50);
  }